.idea/
.idea/*

build/**/*.zip

docker/jira/load/atlassian-jira-software-7.9.1-x64.bin
docker/jira/load/credentials_DB
docker/jira/load/mysql-connector-java-5.1.46-bin.jar
docker/jira/load/mysql-connector-java-5.1.46.jar
